/* line 2, ../scss/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../scss/_base.scss */
body {
  line-height: 1;
}

/* line 30, ../scss/_base.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../scss/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../scss/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../scss/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../scss/_base.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "courrrier";
  src: url(../fonts/courrrier.otf);
}
@font-face {
  font-family: "circular-book";
  src: url(../fonts/circular-book.otf);
}
/* line 65, ../scss/_base.scss */
body {
  background-color: #e3d1dd;
  width: 100%;
  color: #01aba2;
}

/* line 72, ../scss/_base.scss */
.word {
  position: relative;
  margin: 5px;
  padding: 3px 6px;
  background-color: white;
  border: solid .05px black;
  color: black;
}

/* line 82, ../scss/_base.scss */
header {
  font-size: 40px;
  text-align: center;
  font-family: 'courrrier';
  background-color: #e3d1dd;
  padding: 20px;
}

/* line 90, ../scss/_base.scss */
#buttons {
  padding: 10px 10px;
}

/* line 95, ../scss/_base.scss */
.button {
  margin-top: 10px;
  font-family: 'circular-book';
  cursor: pointer;
  background-color: #aae0dd;
  padding: 5px;
  display: inline-block;
}

/* line 105, ../scss/_base.scss */
.button:hover {
  color: red;
}

/* line 110, ../scss/_base.scss */
#nouns, #verbs, #adverbs, #pronouns, #conjunctions, #prepositions, #adjectives {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 125, ../scss/_base.scss */
.right {
  margin: 20px;
  float: right;
  width: 47vw;
  height: 70vh;
  display: block;
  text-align: center;
  background-color: white;
  overflow: scroll;
}

/* line 139, ../scss/_base.scss */
.wordgallery {
  height: 100%;
  padding: 4vw;
}

/* line 147, ../scss/_base.scss */
#poetryzone {
  position: absolute;
  height: 35%;
  width: 43vw;
  margin: 30px;
  top: 100px;
  float: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  border: solid 3px #01aba2;
  text-align: center;
  padding: 10px;
}
/* line 164, ../scss/_base.scss */
#poetryzone .word {
  position: relative;
  padding: 4px;
}
/* line 170, ../scss/_base.scss */
#poetryzone .drophere {
  min-width: 80px;
  max-width: 100%;
  height: 30px;
  margin: 3px;
  padding-top: 10px;
}
/* line 179, ../scss/_base.scss */
#poetryzone .dontdrop {
  background-color: #e3d1dd;
  min-width: 80px;
  height: 30px;
  padding-top: 10px;
}

@media only screen and (max-width: 700px) {
  /* line 203, ../scss/_base.scss */
  main {
    display: flex;
    flex-direction: column-reverse;
  }

  /* line 210, ../scss/_base.scss */
  header {
    font-size: 30px;
    padding: 10px;
  }

  /* line 216, ../scss/_base.scss */
  #buttons {
    height: 100px;
    padding: 10px;
  }

  /* line 222, ../scss/_base.scss */
  .button {
    font-size: 16px;
    padding: 10px;
  }

  /* line 227, ../scss/_base.scss */
  .right {
    float: none;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 237, ../scss/_base.scss */
  #poetryzone {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
    height: 50%;
    align-self: baseline;
    top: 400px;
  }
}
